.landing-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2%;
}

.card-container {
  display: flex;
  justify-content: center;
}

.list {
  text-decoration: none;
}

.loading-text {
  align-items: center;
}

.preloaded-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-weight: 800;
  color: whitesmoke;
}

.card-contact {
  display: flex;
  justify-content: space-around;
}
